.footer {
	display: block;
	float: left;
	width: 100%;
	position: relative;
	background-color: #E1E1E1;
	text-align: center;
	height: 50px;
	margin-top: -50px;
	z-index: 9;
	h3 {
		text-transform: uppercase;
		text-align: center;
		color: #000;
		font-size: 12px;
	}
}